# Operating system files 
# macOS
.DS_Store
.AppleDouble
.LSOverride

# environment variable files
.env


# Windows thumbnail cached files
Thumbs.db
ehthumbs.db

# IDE | build tool dirs
.idea/
*.iml
*.ipr
*.iws
*.vscode/
.gradle/
.settings/
.project
.classpath

.minicdn.history
edge.log
git-stats.ps1
origin.log
router.log
target
cli/data/users.db
e2e/data/routing-state.properties
e2e/data/users.db
